.footer-copyright {
    color: white;
    font-size: 8pt;
    vertical-align: middle;
}

.footer-copyright > a {
    color: white;
    font-size: 8pt;
    text-decoration: underline;
}

ul, ol, body {
    font-size: 1.15rem;
    color: #666666;
}

a {
    color: #C35328;
}

.text-primary {
    color: #C35328 !important;
}

.bg-primary {
    background-color: #C35328 !important;
}

.color-section {
    background: #ECEFF1;
}

.color-section a, .color-section .text-primary, .color-section .text-warning, .color-section .text-danger {
    color: #a23e17 !important;
}

.color-section .table td, .color-section .table th {
    border-top-color: #343A40;
}

.color-section .table thead th {
    border-bottom-color: #343A40;
    border-top-color: #ECEFF1;
}

.color-section table > tbody > tr:last-child {
    border-bottom: 1px solid #343A40;
}